h1
{
color:#2E9AFE;
font-family:"Tw Cen MT";
font-size:32px ;
}
#titulo{
	/*background-color: black;*/
	color: white;
	text-shadow:-2px 9px 7px #000000;

}
.colorRojo{
	color: Red;
}
.colorAmarrillo{
	color: yellow;
}
